@import "~bootstrap/scss/bootstrap.scss";

body{
    background: black;
}

.traffic-light-container{
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
}

.traffic-light-red, .traffic-light-yellow, .traffic-light-green{
    height: 70px;
    width: 70px;
}

.traffic-light-red{
    background: red;
}

.traffic-light-yellow{
    background: yellow;
}

.traffic-light-green{
    background: green;
}

.light-glow-red{
    box-shadow: red 0px 0px 70px 10px;
    animation: .2s camaraFotos 3;
}

.light-glow-yellow{
    box-shadow: yellow 0px 0px 70px 10px;
    animation: .2s camaraFotos 3;
}

.light-glow-green{
    box-shadow: green 0px 0px 70px 10px;
    animation: .2s camaraFotos 3;
}

@-webkit-keyframes camaraFotos{
    50%{
        opacity: 1;
    }
    25%, 75%{
        opacity: 0;
    }
}